[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/lucas"]
	path = content/themes/lucas
	url = https://github.com/lucasconstantino/lucasconstantino.com.git
